@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgba(32, 32, 52, 0.99) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.shadow {
    box-shadow: 0 3px  20px -15px rgb(102, 107, 114) !important;
}

.list-group-item {
    padding: 5px 0;
    background: none;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", serif;
    font-weight: 700 !important;
    color: rgba(32, 32, 52, 1) !important;
    
}

h1 {
    font-size: 42px;
    
}

.navbar-top {
    padding: 3px 0px !important;
    border-bottom: 1px solid #f0f4ff;
}

.navbar-top .nav-link {
    font-size: 13px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(8px);
    padding: 25px 0;
    color: #111 !important;
    box-shadow: inset 0 -1px 0 0 rgba(147, 147, 147, 0.1);
}

.brand-big {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    padding: 0px !important;
    margin-top: 30px !important;
    border-bottom: none;
    text-align: center;
}

.logo-bottom-text-big {
    display: block;
    position: relative;
    top: -10px;
    margin: 0 auto;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.navbar-brand {
    font-weight: 700;
    font-family: "Rubik", serif;
    font-size: 22px;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center;
    margin-bottom: -10px;
}


.bi-question-circle-fill {
    color:rgb(23, 170, 79);
}

.btn-modal-city {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:hover {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:focus {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:active {
    font-size: 14px;
    background: none !important;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px 25px;
    color: #000 !important;
}

.btn-modal-city .bi-cursor-fill {
    color: #463ee4;
}

@media (min-width: 576px) {
    .modal-dialog {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
}

.modal-dialog {
    z-index: 999;
}

.modal-dialog a {
    color: #463ee4 !important;
    text-decoration: none;
}

.modal-content {
    padding: 10px 30px;
}

.bi-person-arms-up {
    color: rgb(19, 210, 93);
}

.bg-color-block {
    background: rgb(243, 248, 255);
}

.header-banner {
    position: relative;
    width: 100%;
    min-height: 520px;
    background: linear-gradient(45deg, rgb(243, 248, 255), rgb(222, 235, 253));
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    padding-top: 0px !important;
}

.header-banner-short {
    position: relative;
    width: 100%;
    min-height: 350px;
    background: linear-gradient(45deg, rgb(243, 248, 255), rgb(222, 235, 253));
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    padding-top: 0px !important;
}

.header-layout {
    background: url("/images/pattern.png") center top;
    background-size: 600px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.5;
}


.gradient-text {
    color: #222; 
    background-image: linear-gradient(40deg, #384bab 25%, #286ccb 45%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


.stir-wash {
    display: block;
    position: absolute;
    width: 350px;
    height: 350px;
    bottom: -230px;
    z-index: -1;
    left: 10%;
    background: url("/images/header-wash.png") top center;
    background-size: cover;
    transform: rotate(-11deg);
    transition: 1s;
}

.stir-wash:hover {
    bottom: -190px;
    transition: 1s;
}

.stir-wash-top {
    display: block;
    position: absolute;
    width: 350px;
    height: 300px;
    top: -230px;
    z-index: -1;
    right: 10%;
    background: url("/images/header-wash.png") bottom center;
    background-size: cover;
    transform: rotate(11deg);
    transition: 1s;
}

.stir-wash-top:hover {
    top: -190px;
    transition: 1s;
}


.btn-primary-registr {
    background: #463ee4;
    border: none;
    max-width: 250px;
    border-radius: 10px;
    padding: 14px 30px;
    font-size: 16px;
    color: #fff;
}

.btn-primary-registr:hover {
    color: #fff;
}

.btn-navbar {
    background: linear-gradient(45deg, #463ee4, #645cf9);
    border: none;
    border-radius: 10px;
    padding: 12px 23px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.btn-navbar:hover {
    background: linear-gradient(45deg, #4f46f3, #645cf9);
    border: none;
    color: #fff;
}

.btn-navbar:active {
    background: #4f46f3 !important;
    color: #fff;
}

.btn-navbar-outline {
    border: none;
    background: none;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 14px;
    color: #000;
}

.btn-navbar-outline:hover {
    background: none;
    color: #4f46f3;
}

.btn-navbar-outline:active {
    background: rgba(255,255,255,0.1) !important;
    border: none;
    color: #000 !important;
}

.input-group .form-control {
    background:#463ee4;
    border: none;
    border-radius: 14px;
    padding: 22px 0px;
    font-weight: 500;
}

.input-group .form-control:hover {
    background: #4f46f3;
    cursor: pointer;
}

.input-group .form-control-text {
    font-size: 16px;
    color: #fff;
}

.bi-icon-search-block {
    display: inline-block;
    transform: rotate(-30deg);
}

.input-group .form-control-text .bi-hand-index-thumb {
    position: relative;
    top: 2px;
    font-size: 21px;
    opacity: 0.8;
    
}

.bi-repeat {
    position: relative;
    top: 1px;
    font-size: 18px;
    margin: 0 5px;
}

.btn-role {
    background: none;
    border: none;
    color: #111;
    font-size: 14px;
    margin-right: 0;
}

.login-form-container {
    background: linear-gradient(45deg, rgb(243, 248, 255), rgb(222, 235, 253));
}

.login-form-block {
    position: relative;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #eee;
    box-shadow: 0 8px 15px -11px #435276;
    padding: 30px 30px 40px 30px;
}

.login-form-back-link {
    position: absolute;
    top: 20px;
    text-decoration: none;
    font-size: 13px;
    color: #463ee4;
}

.bi-arrow-left-circle {
    color: #463ee4;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.login-form-reg-link {
    text-decoration: none;
    font-size: 16px;
    color: #463ee4;
}

.btn-form {
    background: #463ee4;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 14px;
}

.btn-form:hover {
    background:#4f46f3;
    border: none;
    font-size: 14px;
}

.btn-form:active {
    background: #4f46f3 !important;
}

.bi-arrow-left-right {
    position: relative;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    top: 2px;
}

.nav-link {
    font-size: 14px;
} 

h1, h2 {
    font-weight: 600;
}

.avatar {
    border-radius: 15px;
}

.btn-get-profile {
    background: #463ee4;
    border: none;
    border-radius: 6px;
    padding: 12px 22px;
    font-size: 14px;
    color: #fff;
}

.btn-get-profile:hover {
    background: #4f46f3;
    color: #fff;
}

.badge-block {
    position: absolute;
    max-width: 200px;
}

.badge-free-exit {
    display: inline-block;
    background: gold;
    color: rgb(59, 51, 0);
    font-size: 13px;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0 15px 0;
}

.badge-warranty {
    display: inline-block;
    background: gold;
    color: rgb(59, 51, 0);
    font-size: 13px;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0 15px 0;
}

.footer-bg {
    background-color: rgb(243, 248, 255);
    bottom: 0;
    height: 300px;
}

footer .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #111;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }