@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgba(32, 32, 52, 0.99) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", serif;
    font-weight: 700 !important;
    color: rgba(32, 32, 52, 1) !important;
    
}

h1 {
    font-size: 42px;
    
}

.navbar-top {
    padding: 3px 0px !important;
    border-bottom: 1px solid #f0f4ff;
}

.navbar-top .nav-link {
    font-size: 13px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 18px 0;
    color: #111 !important;
}

.brand-big {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    padding: 0px !important;
    margin-top: 30px !important;
    border-bottom: none;
    text-align: center;
}

.logo-bottom-text-big {
    display: block;
    position: relative;
    top: -10px;
    margin: 0 auto;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.navbar-brand {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    padding: 0px !important;
    margin: 0px !important;
    border-bottom: 1px solid #d8d6e8;
    text-align: center;
}

.logo-bottom-text {
    margin:0 auto;
    padding: 0px !important;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

.bi-question-circle-fill {
    color:rgb(23, 170, 79);
}

.btn-modal-city {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:hover {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:focus {
    font-size: 14px;
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 10px 25px;
    color: #000;
}

.btn-modal-city:active {
    font-size: 14px;
    background: none !important;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 10px 25px;
    color: #000 !important;
}

.btn-modal-city .bi-cursor-fill {
    color: #463ee4;
}

@media (min-width: 576px) {
    .modal-dialog {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
}

.modal-dialog {
    z-index: 999;
}

.modal-dialog a {
    color: #463ee4 !important;
    text-decoration: none;
}

.modal-content {
    padding: 10px 30px;
}

.bi-person-arms-up {
    color: rgb(19, 210, 93);
}

.bg-color {
    background: rgba(243, 243, 255, 1);
    padding: 30px 50px;
    border-radius: 10px;
}

.header-banner {
    position: relative;
    width: 100%;
    min-height: 520px;
    background: rgba(243, 243, 255, 1);
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.header-banner .container .stir-wash {
    display: block;
    position: absolute;
    bottom: -400px;
    z-index: -1;
    left: 5%;
    transform: rotate(-15deg);
    animation-name: wash-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.header-banner .container .stir-wash-top {
    display: block;
    position: absolute;
    top: -440px;
    z-index: -1;
    right: 2%;
    transform: rotate(15deg);
    animation-name: wash-animation-top;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wash-animation {
    from {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-19deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

@keyframes wash-animation-top {
    from {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(22deg);
    }
    to {
        transform: rotate(15deg);
    }
}

.left-text-header {
    
    padding: 50px 30px 50px 0px;
}


.header-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(243, 243, 255, 0.9);
    backdrop-filter: blur(3px);
    z-index: -1;
}



.btn-navbar {
    background: #463ee4;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 14px;
}

.btn-navbar:hover {
    background: #4f46f3;
    border: none;
}

.btn-navbar:active {
    background: #4f46f3 !important;
}

.btn-navbar-outline {
    border: none;
    background: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 14px;
    color: #000;
}

.btn-navbar-outline:hover {
    background: none;
    color: #4f46f3;
}

.btn-navbar-outline:active {
    background: rgba(255,255,255,0.1) !important;
    border: none;
    color: #000 !important;
}

.input-group .form-control {
    background: #463ee4;
    border: none;
    border-radius: 10px;
    padding: 22px 0px;
}

.input-group .form-control:hover {
    background: #4f46f3;
    cursor: pointer;
}

.input-group .form-control-text {
    font-size: 16px;
    color: #fff;
}

.bi-icon-search-block {
    display: inline-block;
    transform: rotate(-20deg);
}

.input-group .form-control-text .bi-hand-index-thumb {
    position: relative;
    top: 2px;
    font-size: 21px;
    opacity: 0.8;
    
}

.bi-repeat {
    position: relative;
    top: 1px;
    font-size: 18px;
    margin: 0 5px;
}

.btn-role {
    background: none;
    border: none;
    color: #111;
    font-size: 14px;
    margin-right: 0;
}

.login-form-container {
    background: rgba(243, 243, 255, 1);
}

.login-form-block {
    position: relative;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 4px 15px -13px #111;
    padding: 30px 30px 40px 30px;
}

.login-form-back-link {
    position: absolute;
    top: 20px;
    text-decoration: none;
    font-size: 13px;
    color: #463ee4;
}

.bi-arrow-left-circle {
    color: #463ee4;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.login-form-reg-link {
    text-decoration: none;
    font-size: 16px;
    color: #463ee4;
}

.btn-form {
    background: #463ee4;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 14px;
}

.btn-form:hover {
    background:#4f46f3;
    border: none;
    font-size: 14px;
}

.btn-form:active {
    background: #4f46f3 !important;
}

.bi-arrow-left-right {
    position: relative;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    top: 2px;
}

.nav-link {
    font-size: 14px;
} 

h1, h2 {
    font-weight: 600;
}

.avatar {
    border-radius: 20px;
}

.btn-get-profile {
    background: #463ee4;
    border: none;
    border-radius: 6px;
    padding: 12px 27px;
    font-size: 16px;
    color: #fff;
}

.btn-get-profile:hover {
    background: #4f46f3;
    color: #fff;
}

.badge-block {
    position: absolute;
    max-width: 200px;
}

.badge-free-exit {
    display: inline-block;
    background: gold;
    color: rgb(59, 51, 0);
    font-size: 13px;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0 15px 0;
}

.badge-warranty {
    display: inline-block;
    background: gold;
    color: rgb(59, 51, 0);
    font-size: 13px;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-radius: 0px 0 15px 0;
}

.footer-bg {
    background-color: rgba(243, 243, 255, 1);
    bottom: 0;
    height: 300px;
}