.form-control {
    border: 1px solid #e3e8ed;
    padding: 8px;
}

a {
    text-decoration: none;
}

.list-group-item {
    padding: 10px 15px;
    background: none;
}

.list-group-item a{
    color: #000;
}

.alert {
    color: rgb(72, 74, 81);
}

.btn-success {
    background: rgb(30, 192, 154);
    border: 1px solid rgb(30, 192, 154);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 20px !important;
}

.btn-primary {
    background: #463ee4;
    border: 1px solid #463ee4;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 20px !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f0f9fc;
    opacity: 1;
  }